@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Jua;
  src: url("../public/assets/fonts/jua-v13-latin-regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url("../public/assets/fonts/inter-v12-latin-100.woff2");
  font-weight: 100;
}
@font-face {
  font-family: Inter;
  src: url("../public/assets/fonts/inter-v12-latin-200.woff2");
  font-weight: 200;
}
@font-face {
  font-family: Inter;
  src: url("../public/assets/fonts/inter-v12-latin-300.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Inter;
  src: url("../public/assets/fonts/inter-v12-latin-regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url("../public/assets/fonts/inter-v12-latin-500.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Inter;
  src: url("../public/assets/fonts/inter-v12-latin-600.woff2");
  font-weight: 600;
}
@font-face {
  font-family: Inter;
  src: url("../public/assets/fonts/inter-v12-latin-700.woff2");
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url("../public/assets/fonts/inter-v12-latin-800.woff2");
  font-weight: 800;
}
@font-face {
  font-family: Inter;
  src: url("../public/assets/fonts/inter-v12-latin-900.woff2");
  font-weight: 900;
}

.scrollbar-custom {
  @apply scrollbar;
  @apply scrollbar-h-1;
  @apply scrollbar-w-1;
  @apply scrollbar-thumb-neutral-300;
  @apply scrollbar-thumb-rounded-full;
  @apply scrollbar-track-transparent;
  overflow: overlay;
}
